*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #CBD5F0;
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 10px 8px #888888;
    height:2500px;
    width:80%;
    margin: 30px;
    margin-left: 120px;
    
}
.sub{
    position: relative;
    margin-top: 45px;
    left:100px;
    top: 30px;
    width: 80%;
    display: block;
}
h2{
    /* border: black 1px solid; */
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    padding: 2px;

}
section{
    background-color: whitesmoke;
    
}
nav{
    display: flex;
    height: 12vh;
    width:100%;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.glow{
    width: 150px;
 
    padding-left: 20px;
    padding-top: 20px ;
    padding-right: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #000;
    
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
 @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
div ul li{
    list-style: none;
    padding-right: 20px;
}
div ul li a{
    text-decoration: none;
}

ul{
    float: right;
}
.navcontent{
    
    display: flex;
    height:7vh;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    /* padding-right: 150px; */
    padding-top: 20px;
    color: #194F92;
}
nav{
    background-color:#CBD5F0;
    display: flex;
    justify-content:space-between ;
}

.head1{
    
    color: rgb(56, 97, 251);
    font-size: 18px;
    text-decoration: none;   
} 
.para1{
    font-size: 20px;
    padding: 9px;
}
footer{
    font-size: 20px;
    position: relative;
    text-align: center;
    bottom: -40px;
}
