*{
    padding: 0;bottom: 0;
}
body{
    background-color: #aaaaaa;
}
.box{
    margin: 20vh 30vw;;
    background-color: #000000;
    color:#ffff;
    height: 200px;
    width: 250px;
    padding: 100px;
}
input{
    padding: 10PX 10PX;
    margin: 0px 10px 10px 0px;
}
button {
    background-color: #0b5394;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10vw;
  }
  
  button:hover {
    opacity: 0.8;
  }

  #reg{
      padding: 10px;
      cursor: pointer;
  }
  
  a{
      text-decoration: none;
  }
  a :hover{
    color: #6ae2fc;
  }