*{
    font-family:'Roboto', sans-serif;
    margin: 0px;
}
.container{
    height: 100%;
    width: 100%;
    /* border: 1px black solid; */
    background-color: #6474E5;
}
nav{
    display: flex;
    height: 10vh;
    width:100%;
}

.icon{
    /* border: black 1px solid; */
    width: 120px;
    padding-left: 25px;
    padding-top: 15px ;
    font-family: 'Playfair Display', serif;
}

div ul li{
    list-style: none;
    padding-right: 20px;
}
div ul li a{
    text-decoration: none;
}

ul{
    float: right;
}
.navcontent{
    
    display: flex;
    height:7vh;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    /* padding-right: 150px; */
    padding-top: 20px;
    color: #194F92;
}
nav{
    background-color:#CBD5F0;
    display: flex;
    justify-content:space-between ;
}
.main{
    /* border : 2px solid black; */
    height:400px;
    display: flex;
    margin: 40px;
}
.main1{
    border : 2px solid black;
    height:100%;
    width: 70%;

}
.main2{
    border : 2px solid black;
    height:100%;
    width: 30%;
}
.eth{
    height: 100%;
    width: 100%;
}
footer{
    font-size: 20px;
    position: relative;
    text-align: center;
    bottom: -50px;
}