*{
    padding: 0;bottom: 0;
}
body{
    background-image: url("backgroundsign.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* background: linear-gradient(90deg, #63a4ff 0%, #83eaf1 74%);*/
} 
.box{
    margin: 20vh 42vw;;
    background-color: #f8f8ff;
    color: #0d2129;
    height: auto;
    width: 220px;
    padding: 25px 15px 10px 14px;
    
    border-radius: 3px;
    box-shadow: 2px 10px 8px #888888;
}
input{
    padding: 10PX 10PX;
    margin: 16px 10px 10px 0px;
}
button {
    background-color: #0b5394;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10vw;
  }
  
  button:hover {
    opacity: 0.8;
  }

  #reg{
      padding: 10px;
      cursor: pointer;
  }
  
  a{
      text-decoration: none;
  }
  a :hover{
    color: #6ae2fc;
  }
  footer{
      background: #fff;
  }
